body{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container {
    width: 35%;
    height: 350px;
    background: #2C5364;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0F2027, #203A43, #2C5364);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0F2027, #203A43,  #2C5364); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.card{
    width: 150px;
    height: 150px;
    background-color: aliceblue;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    border-radius: 15px;
    justify-content: center;
    position: relative;

}
.card img {
    width: 150px;
    height: 150px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;

}

